#portfolio-page {
    color: white;
    background-color: rgba(0,0,0,0.7);
    position: relative;
    overflow: hidden;
    word-break: break-word;
    height: 100vh;
}

#portfolio-page .desktop-person-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 30px 50px 0 ;
    overflow: auto;
    position: relative;
    right: 50vw;
    -webkit-animation: slide-to-show-right 0.5s forwards;
    animation: slide-to-show-right 0.5s forwards;
}

#portfolio-page .portfolio-page-wrapper {
    align-content: center;
    padding: 0 40px 0 0;
    text-align: justify;
    position: relative;
    left: 100vw;
    -webkit-animation: slide-to-show-left 1s forwards;
    -webkit-animation-delay: 0.2s;
    animation: slide-to-show-left 1s forwards;
    animation-delay: 0.2s;
}

#portfolio-page .desktop-person-description .description-git {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: white;
}

#portfolio-page .desktop-person-description .description-git img {
    width: 50px;
}

.skill-icon {
    height: 30px;
}

@-webkit-keyframes slide-to-show-right {
    100% { right: 0; }
}

@keyframes slide-to-show-right {
    100% { right: 0; }
}

@-webkit-keyframes slide-to-show-left {
    100% { left: 0; }
}

@keyframes slide-to-show-left {
    100% { left: 0; }
}